@require '_funcs.styl'

font-face('Inter-UI', '@/assets/fonts/Inter-UI-Regular.otf', 'opentype', normal, normal)
font-face('Inter-UI', '@/assets/fonts/Inter-UI-Medium.otf', 'opentype', 600, normal)
font-face('Inter-UI', '@/assets/fonts/Inter-UI-MediumItalic.otf', 'opentype', 600, italic)
font-face('Inter-UI', '@/assets/fonts/Inter-UI-Bold.otf', 'opentype', 700, normal)
font-face('Inter-UI', '@/assets/fonts/Inter-UI-BoldItalic.otf', 'opentype', 700, italic)

font-Inter-UI()
    font-family: 'Inter-UI', sans-serif

.font-inter-ui
    font-Inter-UI()