bg-color = #FFFAE6
text-color = #666666
text-color-2 = #2D2A40
text-color-3 = #999999
primary-color = #FF8A00
success-color = #1BD97B
error-color = #FF8A00
input-border-color = #CCCCCC
input-success-color = #1BD97B
input-error-color = #FF8A00
input-disabled-color = #FAFAFA
sm-breakpoint = '(min-width: 640px)'
md-breakpoint = '(min-width: 768px)'
lg-breakpoint = '(min-width: 1024px)'
xl-breakpoint = '(min-width: 1280px)'