primary-color = #FF8A00
bg-color = #FFFAE6
text-color = rgba(black, 60%)
success-color = #1BD97B
error-color = #FF8A00
input-border-color = #CCCCCC
input-success-color = #1BD97B
input-error-color = #FF8A00